<? $img = trim($this->pagina->fotos_fixas->foto1); ?>
<? $img = (bool)$img ? IMG_URL.'/paginas/'.$img : null; ?>
<? if($img){ ?>
<? $css = 'style="background-image:url('.$img.')"'; ?>
<div class="content-full pagina-img">
	<figure class="img" <?=$css?>>
		<img src="<?=$img?>" alt="<?=$this->pagina->titulo?>">
	</figure>
</div>
<br clear="all">
<? } // /if $img ?>

<div class="content-center">
	<nav id="pacotes">
    	<span class="title">Conheça nossos pacotes especiais:</span>
    	<br><br>

    	<? foreach($this->pacotes as $row){ ?>
        <? $url = URL.'/pacote/'.$row->alias.'-'.$row->id; ?>
        <? $url = $row->arquivo_id ? FILE_URL.'/pacotes/'.$row->arquivo_path : '#'; ?>
        <? $arq = $row->arquivo_id ? $row->arquivo_descricao.'.'.Is_File::getExt($row->arquivo_path) : ''; ?>
    	<? $img = (bool)trim($row->foto_path) ? IMG_URL.'/pacotes/'.$row->foto_path : null; ?>
    	<? $css = $img ? 'style="background-image:url('.$img.')"' : null; ?>
    	<a href="<?=$url?>" class="pacote" <?=$css?> dowload="<?=$arq?>" target="_blank">
    		<span><?=$row->titulo?></span>
    	</a>
    	<? } // /foreach this->pacotes ?>
    </nav>

	<form action="" class="orcamento" method="post">
		<span class="title">Ou faça seu orçamento personalizado!</span>
		<div class="body"><?=$this->pagina->body?></div>

        <ul class="first">
            <li class="li-nome">
                <input type="text" name="nome" id="nome" class="txt required" placeholder="Nome *" />
            </li>
            <li class="li-email">
                <input type="text" name="email" id="email" class="txt required" placeholder="E-mail *" />
            </li>
            <li class="li-telefone">
                <input type="text" name="telefone" id="telefone" class="txt required mask-cel" placeholder="Telefone *" />
            </li>
            <li class="li-tipo_evento">
                <input type="text" name="tipo_evento" id="tipo_evento" class="txt" placeholder="Tipo de Evento" />
            </li>
            <li class="li-data_evento">
                <input type="text" name="data_evento" id="data_evento" class="txt mask-date" placeholder="Data do Evento" />
            </li>
            <li class="li-local_cerim">
                <input type="text" name="local_cerim" id="local_cerim" class="txt" placeholder="Local da Cerimônia" />
            </li>
            <li class="li-local_festa">
                <input type="text" name="local_festa" id="local_festa" class="txt" placeholder="Local da Festa" />
            </li>
            <li class="li-qtde_conv">
                <input type="text" name="qtde_conv" id="qtde_conv" class="txt" placeholder="Quantidade de Convidados" />
            </li>
            <li class="li-como_encont">
                <input type="text" name="como_encont" id="como_encont" class="txt required" placeholder="Como nos encontrou" />
            </li>
            <li class="li-mensagem">
                <textarea name="mensagem" id="mensagem" class="txt" placeholder="Mensagem"></textarea>
            </li>
            <li class="submit-container">
                <input type="submit" value="Enviar">
                <a href="#" id="submit">Enviar</a>
                <p class="status"></p>
            </li>
        </ul>
    </form>

    <br clear="all" />
</div>