</div></div>
<div class="main-full">
<div class="main main-index">
<div id="index-footer">
	<nav class="menu-social">
        <? $menusoc = explode(',','facebook,instagram,pinterest,twitter,casamentoscom'); ?>
        <? foreach($menusoc as $m){ ?>
        <? $mtxt = 'Visite-nos no '.ucfirst($m=='casamentoscom' ? 'casamentos.com' : $m); ?>
        <a href="<?=$this->dados->{$m}?>" class="social social-<?=$m?>" title="<?=$mtxt?>" target="_blank"><?=$mtxt?></a>
        <? } // /foreach menusoc ?>
    </nav>

    <?/*<nav id="pacotes">
        <? for($j=0;$j<(ENV_DEV?3:1);$j++) foreach($this->pacotes as $row){ ?>
        <? $img = (bool)trim($row->foto_path) ? IMG_URL.'/pacotes/'.$row->foto_path : null; ?>
        <? $css = $img ? 'style="background-image:url('.$img.')"' : null; ?>
        <a href="<?=URL.'/pacote/'.$row->alias.'-'.$row->id?>" class="pacote" <?=$css?>>
            <span><?=$row->titulo?></span>
        </a>
        <? } // /foreach this->pacotes ?>
    </nav>*/?>

    <nav id="pacotes" class="pacs-col-<?=count($this->categorias)?>">
    	<? foreach($this->categorias as $row){ ?>
    	<? $img = (bool)trim($row->foto_path) ? IMG_URL.'/categorias/'.$row->foto_path : null; ?>
    	<? $css = $img ? 'style="background-image:url('.$img.')"' : null; ?>
    	<a href="<?=URL.'/portfolio/'.$row->alias?>" class="pacote" <?=$css?>>
    		<span><?=$row->descricao?></span>
    	</a>
    	<? } // /foreach this->pacotes ?>
    </nav>
</div>