<div class="content-full">
	<?=$this->render('index/slideshow.phtml')?>
</div>
<!-- <br clear="all"> -->

<?/*<div class="content-center">
    <h1>HOME</h1>
    <p>
        Lorem ipsum Exercitation id sed commodo proident pariatur consectetur cupidatat ea sunt 
        commodo proident pariatur consectetur cupidatat ea sunt commodo proident pariatur 
        quis fugiat do consequat laborum Duis commodo ut ea laboris tempor magna Ut.
    </p>
</div>*/?>