<div id="slideshow-wrapper">
	<div class="slideshow" id="slideshow">

	<? foreach ($this->banners as $row) { ?>
	<? $url = (bool)$row->url ? $row->url : '#'; ?>
	<? $target = strstr($url,URL) ? '' : 'target="_blank"'; ?>
	<? $img = IMG_URL.'/destaques/'.@$row->foto_path;//.'?w=450&h=450'; ?>
	<a href="<?=$url?>" class="foto" <?=$target?> title="<?=$row->titulo?>">
	    <span class="img-wrapper">
	    <?/*<span class="img"><img src="<?=$img?>" alt="<?=$row->titulo?>" /></span>*/?>
	    <span class="img" style="background-image:url(<?=$img?>);"></span>
	    </span>
	    
	    <?/*<span class="desc-wrapper">
	        <span class="desc">
	            <span class="title">
	                <?=$row->titulo?>
	            </span>
	            <? $subtitulo = explode(' ', $row->subtitulo); ?>
	            <? $subtitulo1 = array_shift($subtitulo); ?>
	            <? $subtitulo = implode(' ', $subtitulo); ?>
	            <span class="subtitle">
	                <font><?=$subtitulo1?></font> <?=$subtitulo?>
	            </span>
	            <span class="descricao">
	                <?=nl2br($row->body)?>
	            </span>
	        </span>
	    </span>*/?>
	</a>
	<? } ?>

	</div> <!-- /slideshow-wrapper -->
</div> <!-- /slideshow -->