<? $img = (bool)trim($this->pagina->fotos_fixas->foto1) ? IMG_URL.'/paginas/'.$this->pagina->fotos_fixas->foto1 : null; ?>

<div class="content-center">
	<div class="body-1">
		<?=$this->pagina->body?>
	</div>
	<br clear="all">

	<? if($img){ ?>
	<figure class="img">
		<img src="<?=$img?>" alt="<?=$this->pagina->titulo?>">
	</figure>
	<? } // /if $img ?>

	<div class="body">
		<?=$this->pagina->body2?>
	</div>
</div>