<div class="content-full">
<div id="deps">
	<? $i=0; foreach($this->rows as $row){ $i++; ?>
	<? $img = (bool)trim($row->foto_path) ? IMG_URL.'/depoimentos/'.$row->foto_path : null; ?>
	<? $class = $i%2==0 ? 'dep-r' : 'dep-l'; ?>
	<div class="dep <?=$class?>" data-i="<?=$i?>">
		<? if($img){ ?>
		<figure class="img"><img src="<?=$img?>" alt="<?=$row->nome?>"></figure>
		<? } // /if $img ?>

		<div class="body">
			<p class="text"><?=nl2br($row->body)?></p>
			<div class="data-nome">
				<span class="data"><?=dtbr($row->data)?></span>
				<span class="nome"><?=$row->nome?></span>
			</div>
		</div>
	</div>
	<? } // /foreach this->depoimentos ?>
	
	<? if($this->pagination->total > $this->pagination->limit){ ?>
    <? $page = $this->pagination->page + 1; ?>
	<div id="deps-load-area"></div>
	<div class="ver-mais-w">
		<a href="?page=<?=$page?>" class="ver-mais load-deps" data-page="<?=$page?>">
			ver mais
			<img src="<?=CSS_URL?>/img/seta-vermais.png" alt="ver mais">
		</a>
	</div>
    <? } // /if $this->pagination->total > $this->pagination->limit ?>
</div> <!-- /#deps -->
</div>
<br clear="all">