<div class="content-full videos">
	<? $i = 0; foreach($this->rows as $row){ $i++; ?>
	<? $vid = _checkVideoStr($row->url); ?>
	<? $img = $vid->thumbnail; ?>
	<? $style = 'style="background-image:url('.$img.')"'; ?>
	<? $class = ''; ?>
	<? if($i%3==0){ $class.= ' last-desk'; } ?>
	<? if($i%2==0){ $class.= ' last-tab'; } ?>
	<a href="<?=$vid->embedUrl?>" class="video video-fancybox <?=$class?>">
		<span class="img" <?=$style?>></span>
		<img src="<?=$img?>">
		<?=$row->titulo?>
	</a>
	<? if($i%3==0){ ?><br class="desktop" clear="all"><? } ?>
	<? if($i%2==0){ ?><br class="mobile-tablet" clear="all"><? } ?>
	<? } // /foreach this->rows ?>
</div>