<?
$js_path  = SCRIPT_MIN == 'load' ? JS_PATH.'/'  : '';
$css_path = SCRIPT_MIN == 'load' ? CSS_PATH.'/' : '';
$script_min = SCRIPT_MIN;
$js  = array($js_path.'libs.js',$js_path.'layout.js');;//,$js_path.'alert2.js');//,$js_path.'is.shop.js');
$css = array($css_path.'global.less');

if(!$this->meta_description) $this->meta_description = SITE_DESCRIPTION;
if(!$this->meta_keywords) $this->meta_keywords = defined('SITE_KEYWORDS') ? SITE_KEYWORDS : Is_Str::text2keywords($this->meta_description);

$page_title = '';
if(isset($this->titulo)){
    $page_title.= $this->titulo." - ";
    $page_title.= SITE_TITLE;
} else { 
    $page_title.= $this->controller != 'index'?ucfirst(Is_Str::subsCaracteres($this->controller," "))." - ":''; 
    $page_title.= SITE_TITLE;
}
?>

<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="utf-8" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title><?=$page_title?></title>
<meta name="description" content="<?=$this->meta_description?>" />
<meta name="keywords" content="<?=$this->meta_keywords?>" />
<meta name="robots" content="index, follow" />
<? if($this->meta_canonical){ ?>
<link rel="canonical" href="<?=$this->meta_canonical?>" />
<? } ?>

<meta property="og:url" content="<?=$this->meta_og_url?$this->meta_og_url:URL?>"/>
<meta property="og:title" content="<?=$this->meta_og_title?$this->meta_og_title:$page_title?>"/>
<meta property="og:description" content="<?=$this->meta_og_description?$this->meta_og_description:$this->meta_description?>"/>
<meta property="og:image" content="<?=$this->meta_og_image?$this->meta_og_image:URL.CSS_PATH.'/img/facebook-share.png'?>"/>
<meta property="og:image:width" content="200" />
<meta property="og:image:height" content="200" />
<link rel="image_src" href="<?=$this->meta_og_image?$this->meta_og_image:URL.CSS_PATH.'/img/facebook-share.png'?>" />

<script type="text/javascript">
var GLOBAL_URL = "<?=$this->url?>",
    URL        = "<?=URL?>",
    FULL_URL   = "<?=FULL_URL?>",
    ROOT_PATH  = "<?=ROOT_PATH?>",
    JS_PATH    = "<?=JS_PATH?>",
    JS_URL     = "<?=JS_URL?>",
    CSS_PATH   = "<?=CSS_PATH?>",
    CSS_URL    = "<?=CSS_URL?>",
    IMG_PATH   = "<?=IMG_PATH?>",
    IMG_URL    = "<?=IMG_URL?>",
    DIR        = "<?=$this->section?>",
    CONTROLLER = "<?=$this->controller?>",
    ACTION     = "<?=$this->action?>",
    MODULE     = "<?=$this->module?>",
    SCRIPT     = <?=Js::exists($js_path.$this->controller) ? "\"{$this->controller}\"" : 'false'?>,
    SITE_NAME  = "<?=SITE_NAME?>",
    APP_ENV    = "<?=(APP_ENV)?>",
    ENV_DEV    = <?=(ENV_DEV) ? 'true' : 'false'?>,
    ENV_PRO    = <?=(ENV_PRO) ? 'true' : 'false'?>,
    ENV_TEST   = <?=(ENV_TEST) ? 'true' : 'false'?>,
    APPLICATION_ENV = "<?=APPLICATION_ENV?>";

if(!SCRIPT) SCRIPT = <?=Js::exists($js_path.$this->controller.'-'.$this->action) ? '"'.$this->controller.'-'.$this->action.'"' : 'false'?>;
</script>

<? $cssFonts = array(
    'Petit+Formal+Script:300,300i,400,400i,700,700i',
    'Ubuntu:300,300i,400,400i,700,700i',
); ?>
<link href="https://fonts.googleapis.com/css?family=<?=implode('|',$cssFonts)?>&display=swap" rel="stylesheet">
<?/*<!-- Code snippet to speed up Google Fonts rendering: googlefonts.3perf.com -->
<link rel="dns-prefetch" href="https://fonts.gstatic.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="anonymous">
<link rel="preload" href="https://fonts.googleapis.com/css?family=Petit+Formal+Script|Ubuntu:300,300i,400,400i,700,700i&display=swap" as="fetch" crossorigin="anonymous">
<script type="text/javascript">
!function(e,n,t){"use strict";var o="https://fonts.googleapis.com/css?family=Petit+Formal+Script|Ubuntu:300,300i,400,400i,700,700i&display=swap",r="__3perf_googleFonts_c20f7";function c(e){(n.head||n.body).appendChild(e)}function a(){var e=n.createElement("link");e.href=o,e.rel="stylesheet",c(e)}function f(e){if(!n.getElementById(r)){var t=n.createElement("style");t.id=r,c(t)}n.getElementById(r).innerHTML=e}e.FontFace&&e.FontFace.prototype.hasOwnProperty("display")?(t[r]&&f(t[r]),fetch(o).then(function(e){return e.text()}).then(function(e){return e.replace(/@font-face {/g,"@font-face{font-display:swap;")}).then(function(e){return t[r]=e}).then(f).catch(a)):a()}(window,document,localStorage);
</script>
<!-- End of code snippet for Google Fonts -->*/?>

<?=Css::$script_min($css).PHP_EOL?>
<!--[if lt IE 9]>
<?=Css::$script_min($css_path.'global-ie.css')?>
<?=Js::$script_min($js_path.'html5.js')?>
<![endif]-->
</head>
<body class=" body-<?=$this->controller?> body-<?=$this->controller.'-'.$this->action?> <?=($this->ajax ? 'ajax' : '')?>">

<?=$this->render("flash-messages.phtml");?>

<div class="main-container">
<div class="main main-center main-<?=$this->controller?> main-<?=$this->controller.'-'.$this->action?> <?=($this->ajax ? 'ajax' : '')?>">
    <div class="top-container">
    <header id="top" class="top-<?=$this->controller?>">
        <a class="site-title" href="<?=URL?>/" title="<?=SITE_TITLE?>"><?=SITE_TITLE?></a>
        <br>
        
        <button id="mobile-toggle" type="button" role="button" class="mobile">
            <span class="lines"></span>
        </button>
        <nav class="top-menu" id="top-menu">
            <?=$this->navigation()->menu($this->menu->top);?>
        </nav>
        <nav class="menu-social">
            <? $menusoc = explode(',','facebook,instagram,pinterest,twitter,casamentoscom'); ?>
            <? foreach($menusoc as $m){ ?>
            <? $mtxt = 'Visite-nos no '.ucfirst($m=='casamentoscom' ? 'casamentos.com' : $m); ?>
            <a href="<?=$this->dados->{$m}?>" class="social social-<?=$m?>" title="<?=$mtxt?>" target="_blank"><?=$mtxt?></a>
            <? } // /foreach menusoc ?>
        </nav>
    </header>
    </div>

    <div class="content-container">
    <div id="content" class="content content-<?=$this->controller?> content-<?=$this->controller.'-'.$this->action?>">
        <article><?=$this->layout()->content;?></article>
        <? if($this->controller!='index'){ ?>
        <br clear="all" />
        <? } ?>
    </div>
    </div>

    <br clear="all">

    <? if($this->controller=='index'){ ?>
    <?=$this->render('index/index-footer.phtml')?>
    <? } else { // /if $this->controller=='index' ?>
    <div class="link-orc-w">
        <a href="<?=URL?>/orcamento" class="link-orc">Faça seu orçamento conosco!</a>
    </div>
    <? } // /if $this->controller=='index' ?>
</div>
</div>

<div class="foot foot-cinza foot-<?=$this->controller?> <?=($this->ajax ? 'ajax' : '')?>">
    <footer class="main-center">
        <nav class="nav-tel">
            <a href="tel:<?=@$this->dados->tel1?>" class="tel t"><?=@$this->dados->tel1?></a>
            <a href="http://api.whatsapp.com/send?phone=55 <?=@$this->dados->tel4?>" class="tel wp"><?=@$this->dados->tel4?></a>
            <a href="mailto:<?=@$this->dados->email?>" class="tel mail"><?=@$this->dados->email?></a>
        </nav>
        <nav class="menu-social">
            <? $menusoc = explode(',','facebook,twitter,instagram,casamentoscom,pinterest'); ?>
            <? foreach($menusoc as $m){ ?>
            <? $mtxt = 'Visite-nos no '.ucfirst($m=='casamentoscom' ? 'casamentos.com' : $m); ?>
            <a href="<?=$this->dados->{$m}?>" class="social social-<?=$m?>" title="<?=$mtxt?>" target="_blank"><?=$mtxt?></a>
            <? } // /foreach menusoc ?>
        </nav>

        <nav class="footer-menu" id="footer-menu">
            <?=$this->navigation()->menu($this->menu->footer);?>
            <?=$this->navigation()->menu($this->menu->footer2);?>
        </nav>
        
        <br clear="all" class="mobile-cel">
        <nav class="credits">
            &copy; <?=date("Y")?> <?=SITE_TITLE?> <br> Todos os direitos reservados.
            <br><br>
            <a href="http://www.trupe.net" target="_blank">Criação de sites:</a> <br>
            <a href="http://www.trupe.net" target="_blank">Trupe Agência Criativa</a>
        </nav>
    </footer>
</div>

<?=Js::$script_min($js).PHP_EOL?>

<? if(1 && ENV_PRO && defined('SITE_ANALYTICS')){ ?>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '<?=SITE_ANALYTICS?>']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
<? } ?>

</body>
</html>