<?=Css::load(CSS_PATH.'/admin/tamanhos.less')?>
<?=Js::script('var TAMANHOS = '.json_encode((array)$this->tamanhos).';')?>
<?=Js::load(JS_PATH.'/admin/tamanhos.js')?>

<h3>&raquo; Tamanhos</h3>

<form action="" class="frm-tamanhos">
    <input type="text" class="txt" id="tamanhos-search" />
    <input type="hidden" id="tamanhos-id" />
    <input type="submit" class="bt" id="tamanhos-submit" value="Ok" />
</form>

<ul class="tamanhos-list">
    <? if($this->tamanhos_list){ foreach($this->tamanhos_list as $tamanho){ ?>
    <li><?=$tamanho->descricao?>
        <button class="ui-state-default ui-corner-all tamanhos-delete" title="Delete">
            <span class="ui-icon ui-icon-trash"></span>
        </button>
        <input type="hidden" class="tamanhos-id" value="<?=$tamanho->id?>" />
    </li>
    <? }} ?>
</ul>

<script type="text/x-jquery-tmpl" id="tmplTamanhos">
    <li>${value}
        <button class="ui-state-default ui-corner-all tamanhos-delete" title="Delete">
            <span class="ui-icon ui-icon-trash"></span>
        </button>
        <input type="hidden" class="tamanhos-id" value="${id}" />
    </li>
</script>