<?=Js::script('MAX_SIZE = '.($this->MAX_SIZE).'*1048576;')?>
<?=Js::script('allow_photos = '.($this->allow_photos ? 'false' : 'false').';')?>
<? if($this->id && $this->allow_photos){ $this->fotos_in_text = false; ?>
<div class="content-right">
    <div id="fotos">
        <?=$this->render($this->section.'/fotos.phtml');?>
    </div>
</div>
<? } ?>

<div id="form-new">
    <form action="<?=$this->form->getAction();?>" method="<?=$this->form->getMethod();?>" id="<?=$this->form->getId();?>" class="<?=$this->form->getId();?>">
        <ul>
            <? foreach($this->form->getElements() as $elm){ ?>
            <li class="<?=$elm->getAttrib("class")?>">
                <? if($elm->getId() != "submit"){ ?>
                <label for="<?=$elm->getId()?>"><?=$elm->getLabel()?></label>
                <? } ?>
                
                <?=$elm->render()?>
            </li>
            <? } ?>
        </ul>
        <div class="bt-container">
            <input type="submit" class="bt" value="<?=$this->id?'Salvar':'Criar'?>" id="submit" />
        </div>
    </form>
</div>