<div class="content-full">
<? $mapa_url = 'https://maps.google.com/maps?q='._parseEndereco($this->dados).'&output=embed'; ?>
<section id="mapa">
    <iframe src="<?=$mapa_url?>" id="frame_mapa" frameborder="0" style="border:0" allowfullscreen></iframe>
</section>
</div>
<br clear="all">

<div class="content-center">
    <nav class="nav-tel">
        <a href="tel:<?=@$this->dados->tel1?>" class="tel t"><?=@$this->dados->tel1?></a>
        <a href="http://api.whatsapp.com/send?phone=55 <?=@$this->dados->tel4?>" class="tel wp"><?=@$this->dados->tel4?></a>
        <a href="mailto:<?=@$this->dados->email?>" class="tel mail"><?=@$this->dados->email?></a>
        
        <span class="end">
            <?=$this->dados->endereco?> -
            <?=$this->dados->bairro?> <br>
            <?=$this->dados->cidade?> -
            <?=$this->dados->estado?> -
            <?=Is_Format::cep($this->dados->cep)?>
        </span>
    </nav>

    <form action="" class="contato" method="post">
        <ul class="first">
            <li class="li-nome">
                <input type="text" name="nome" id="nome" class="txt required" placeholder="Nome *" />
            </li>
            <li class="li-email">
                <input type="text" name="email" id="email" class="txt required" placeholder="E-mail *" />
            </li>
            <li class="li-telefone half half-1">
                <input type="text" name="telefone" id="telefone" class="txt mask-cel" placeholder="Telefone" />
            </li>
            <li class="li-mensagem">
                <textarea name="mensagem" id="mensagem" class="txt required" placeholder="Mensagem *"></textarea>
            </li>
            <li class="submit-container">
                <input type="submit" value="Enviar">
                <a href="#" id="submit">Enviar</a>
                <p class="status"></p>
            </li>
        </ul>
    </form>

    <br clear="all" />
</div>
