<? $row = $this->row; ?>
<? $img = trim($row->capa_path); ?>
<? $img = (bool)$img ? IMG_URL.'/pacotes/'.$img : null; ?>

<div class="content-center">
	<aside class="lateral-left">
		<? if($img){ ?>
		<figure class="img">
			<img src="<?=$img?>" alt="<?=$row->titulo?>">
		</figure>
		<? } // /if $img ?>

		<a href="#" class="voltar js-back">
			<img src="<?=CSS_URL?>/img/seta-voltar.png" alt="voltar">
			voltar
		</a>
	</aside>
	
	<div class="pagina">
		<h1><?=$row->titulo?></h1>
		
		<div class="pacote">
			<section class="body">
				<?=$row->body?>
			</section>

			<? if((bool)$row->fotos){ ?>
			<section class="galeria">
				<? foreach($row->fotos as $f){ ?>
				<? $img = IMG_URL.'/pacotes/'.$f->path; ?>
				<a href="<?=$img?>" class="foto fancybox" rel="gallery_pacote">
					<img src="<?=$img?>" alt="<?=$row->titulo?>">
				</a>
				<? } // /foreach row->fotos ?>
			</section>
			<? } // /if (bool)$row->fotos ?>

			<a href="#" class="voltar js-back">
				<img src="<?=CSS_URL?>/img/seta-voltar.png" alt="voltar">
				voltar
			</a>
		</div>
	</div>
</div>