<link rel="stylesheet" href="<?=CSS_PATH?>/jquery-ui/jquery-ui.css" id="theme" />
<?=Css::load(CSS_PATH."/admin/jquery.fileupload-ui.css");?>
<?=Css::load(CSS_PATH."/admin/pacotes-arquivos.less");?>

<?=Js::load(JS_PATH."/jquery.ui.min.js",
            JS_PATH."/admin/jquery.fileupload.js",
            JS_PATH."/admin/jquery.fileupload-ui.js",
            JS_PATH."/admin/pacotes-arquivos.js");?>

<script type="text/javascript">
var DIR = "<?=$this->section?>";
var DIR2 = "<?=$this->section2?>";
var URL = "<?=URL?>";
</script>

<h3>&raquo; ARQUIVO</h3>

<ul id="paginas_arquivos" class="list_files">
    <? $noname = "Dê um nome para o arquivo e tecle [Enter]..."; ?>
    <?=Js::script('var noname = "'.$noname.'";');?>
    <? if(count($this->arquivos)){ foreach($this->arquivos as $arquivo){ ?>
    <li>
        <a href='<?=URL?>/public/files/<?=$this->section?>/<?=$arquivo->path?>' rel='' class='file-link' title='Baixar arquivo'>
            &nbsp;
        </a>
        <input type="text" class="arquivo_descricao" name="descricao[]" value="<?=!empty($arquivo->descricao)?utf8_encode($arquivo->descricao):$noname?>" title="Alterar nome do arquivo (Tecle [Enter] para salvar)" />
        <input type="hidden" class="arquivo_descricao_original" name="descricao_original[]" value="<?=!empty($arquivo->descricao)?utf8_encode($arquivo->descricao):$noname?>" />
        <button title="Delete" class="ui-state-default ui-corner-all file-delete2">
            <span class="ui-icon ui-icon-trash"></span>
        </button>
        <input type="hidden" name="arquivo_id[]" value="<?=$arquivo->id?>" class="arquivo_id" />
    </li>
    <? }} ?>
</ul>

<div id="file_upload2_container">
    <form id="file_upload2" action="<?=$this->url?>upload.json?arquivo&id=<?=$this->id?>" method="POST" enctype="multipart/form-data">
        <input type="file" name="file"  <?=@$this->MAX_FOTOS>1 ? 'multiple' : ''?> />
        <button>Enviar arquivo<?=((bool)@$this->MAX_FILES)?'s (Máx. '.$this->MAX_FILES.')':''?></button>
        <div>Enviar arquivo<?=((bool)@$this->MAX_FILES)?'s (Máx. '.$this->MAX_FILES.')':''?></div>
        <input type="hidden" name="pagina_id" id="pagina_id" value="<?=$this->id?>" />
    </form>
    
    <table id="file_upload2_list" cellspacing="0" width="100%"></table>
</div>