<link rel="stylesheet" href="<?=CSS_PATH?>/jquery-ui/jquery-ui.css" id="theme" />
<?=Css::load(CSS_PATH.'/admin/pacotes-videos.less')?>
<?=Js::script('var VIDEOS = '.json_encode((array)$this->videos).';')?>
<?=Js::load(JS_PATH.'/admin/pacotes-videos.js')?>

<h3>&raquo; VÍDEOS</h3>

<form action="" class="frm-videos">
    <input type="text" class="txt" id="video-url" placeholder="Vídeo URL" />
    <input type="submit" class="bt" id="videos-submit" value="Ok" />
</form>

<ul class="videos-list">
    <? if($this->videos_list){ foreach($this->videos_list as $video){ ?>
    <li>
        <a href="<?=$video->url?>" target="_blank"><span class="video-list-url"><?=str_replace(array('http://','https://','www.'),'',$video->url)?></span></a>
        <button class="ui-state-default ui-corner-all videos-delete" title="Delete">
            <span class="ui-icon ui-icon-trash"></span>
        </button>
        <input type="hidden" class="videos-id" value="<?=$video->id?>" />
    </li>
    <? }} ?>
</ul>

<script type="text/x-jquery-tmpl" id="tmplVideos">
    <li>
        <a href="${url}" target="_blank"><span class="video-list-url">${url_short}</span></a>
        <button class="ui-state-default ui-corner-all videos-delete" title="Delete">
            <span class="ui-icon ui-icon-trash"></span>
        </button>
        <input type="hidden" class="videos-id" value="${id}" />
    </li>
</script>