<div class="content-full portfolio">
	<nav class="nav-categorias">
		<? $i=0; foreach($this->categorias as $cat){ $i++; ?>
		<? $active = $this->cat_alias==$cat->alias ? 'active' : ''; ?>
		<? if(!$this->cat_alias && $i==1){ $active = 'active'; } ?>
		<? if($cat->id==@$this->subcategoria->categoria_id){ $active = 'active'; } ?>
		<a href="<?=URL.'/portfolio/'.$cat->alias?>" class="cat <?=$active?>">
			<?=$cat->descricao?>
		</a>
		<? } // /foreach this->categorias ?>
	</nav>
	<nav class="nav-subcategorias">
		<? $active = !$this->cat_alias ? 'active' : ''; ?>
		<? if(!$this->subcategoria){ $active = 'active'; } ?>
		<a href="<?=URL.'/portfolio/'.$this->categoria->alias?>" class="scat <?=$active?>" data-catid="all">TODAS</a>
		
		<? if($this->subcategorias) foreach($this->subcategorias as $cat) { ?>
		<? $active = $this->cat_alias==$cat->alias ? 'active' : ''; ?>
		<a href="<?=URL.'/portfolio/'.$cat->alias?>" class="scat <?=$active?>" data-catid="<?=$cat->id?>">
			<?=$cat->descricao?>
		</a>
		<? } // /foreach this->categorias ?>
	</nav>
	
	<? if((bool)$this->rows){ ?>
	<section id="produtos">
		<? for($i=0;$i<(ENV_DEV?6:1);$i++) foreach($this->rows as $row){ ?>
		<? $row->fotos = array_reverse($row->fotos); ?>
		<? $img = IMG_URL.'/produtos/'.@$row->fotos[0]->path; ?>
		<? $css = 'style="background-image:url('.$img.')"'; ?>
		<? //$tit = '<b>'.$row->titulo.'</b><br>'.$row->descricao; ?>
		<? $tit = $row->titulo.' - '.$row->descricao; ?>
		<a href="<?=$img?>" class="produto fancybox cat-<?=$row->cat_id?>" <?=$css?> rel="gallery_portfolio_<?//=$row->id?>" title="<?=$tit?>">
			<span class="line"></span>
			<span class="titulo"><b><?=$row->titulo?></b></span>
		</a>

		<? if(count($row->fotos)>1){ $j=0; foreach($row->fotos as $f){ $j++; ?>
		<? if($j==1){ continue; } ?>
		<? $img = IMG_URL.'/produtos/'.@$f->path; ?>
		<a href="<?=$img?>" class="produto fancybox hidden" rel="gallery_portfolio_<?//=$row->id?>"></a>
		<? }} // /if count($row->fotos)>1 ?>
		<? } // /foreach this->rows ?>
	</section>
	<? } else { ?>
	<br><br>
	<p align="center">Nenhum registro encontrado.</p>
	<? } // /if (bool)$this->rows ?>
</div>